.cardContentWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 571px;

  h2{
    text-align: center;
    margin: 20px 0 15px;
  }

  @media screen and (max-width: 1240px) {
    height: auto;
    margin: 0 auto;

    span{
      max-width: 90%;
      margin: 0 auto;
    }
  }
}

.preTitle{
  font-size: 14px;
  line-height: 16.8px;
  text-align: center;
  color: #75A5FF;
}

.cardsWrapper{
  display: grid;
  grid-template-columns: repeat(3, 381px);
  grid-gap: 50px;
  margin: 40px 0 0;

  @media screen and (max-width: 1240px) {
    grid-template-columns: repeat(2, 381px);
  }

  @media screen and (max-width: 1019px) {
    grid-template-columns: inherit;
    width: 90%;
  }
}
