@mixin buttonBase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border-radius: 12px;
  font-size: 16px;
  padding: 0 24px;
  box-sizing: border-box;
  transition: ease all 300ms;

  svg{
    margin: 0 0 0 12px;
  }
}

.solid{
  @include buttonBase;
  min-width: 132px;
  background-color: #1040FF;

  &:hover{
    background-color: #3575ff;
  }
}

.ghost{
  @include buttonBase;
  background-color: transparent;

  &:hover{
    background-color: #2d2d2d;
  }
}
