@mixin modulesContainer{
  width: 1240px;
  margin: 0 auto;

  @media screen and (max-width: 1240px) {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    width: 382px;
  }
}

.modulesSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 469px;
}

.modulesWrapper{
  @include modulesContainer;
  display: flex;
  align-items: center;
  margin-bottom: 38px;

  h2{
    margin: 0 0 15px;
  }

  span{
    display: block;
    width: 585px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &_titleContainer{
    width: 1134px;

    @media screen and (max-width: 1240px) {
      width: 80%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }

  }

  &_controller{
    display: flex;
    justify-content: space-around;
    width: 96px;

    button{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border: none;
      appearance: none;
      border-radius: 100%;
      background-color: #FFF;
      cursor: pointer;

      &[disabled]{
        cursor: not-allowed;
        background-color: #636363;
      }
    }

    @media screen and (max-width: 768px) {
      display: none;
    }

  }

  @media screen and (max-width: 768px) {
    width: 90%;
    margin: 0 auto;
  }

}

.modulesCards{
  @include modulesContainer;
  display: flex;
  flex-direction: column-reverse;

  @media screen and (max-width: 1240px) {
    width: 850px;
  }

  @media screen and (max-width: 1019px) {
    width: 700px;
  }

  @media screen and (max-width: 768px) {
    width: 382px;
  }
}
