.herovideo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  background: no-repeat left / cover;

  @media screen and (max-width: 768px) {
    background: no-repeat -600px / cover;
  }

}

.herovideo_title {
  font-size: 52px;
  font-weight: 300;
  max-width: 607px;
  margin: 0 0 20px;
}

.herovideo_demo {
  width: 607px;
  margin: 40px 0 0;

  &_smallDesc {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-size: 12px;
    color: #a8a8a8;
  }

  &_audioWrapper {
    width: 600px;
    height: 76px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #262626;
    border-radius: 12px;
    box-sizing: border-box;

    @media screen and (max-width: 768px) {
      width: 382px;
    }

  }

  &_playBtn{
    transition: ease all 300ms;
    cursor: pointer;

    &:hover{
      opacity: 0.5
    }
  }
  
  &_text {
    appearance: none;
    background: none;
    border: none;
    color: #FFF;
    display: flex;
    align-items: center;
    width: 101px;
    height: 52px;
    padding: 0 0 0 12px;
    font-size: 14px;
    line-height: 16.8px;
    cursor: pointer;

    // little trick to create the spaced border
    border-left: 1px solid #262626;
  }

  @media screen and (max-width: 768px) {
    width: 382px;
    display: flex;
    flex-direction: column;
  }
}

.bannerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media screen and (max-width: 768px) {
    width: 382px;
  }
}

.soundWave{
  @media screen and (max-width: 768px) {
    width: 169px;
    overflow: hidden;
  }
}

.herovideo_ctaBtns{
  display: flex;
  justify-content: space-between;
  width: 326px;
  margin-top: 40px;

  @media screen and (max-width: 768px) {
    width: 100%;
    justify-content: space-around;
  }
}
