.cardWrapper{
  display: grid;
  grid-gap: 24px 14px;
  grid-template-rows: 25px 20px 52px
}

.cardTitle{
  font-size: 16px;
  margin: 0;
  text-align: left;

  @media screen and (max-width: 768px){
    font-size: 19px;
  }
}

.cardDescription{
  font-size: 14px;
  line-height: 16.8px;
  color: #858585;
  margin: 0;
  text-align: left;

}
