.header{
  width: 100%;
  position: absolute;
}

.headerWrapper{
  display: flex;
  align-items: center;
  width: 1240px;
  height: 90px;
  margin: 0 auto;

  ul{
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 33% repeat(4, auto) 33%;
    
    :nth-child(6){
      text-align: center;
    }
  }

  @media screen and (max-width: 1240px) {
    width: 90%;

    ul{
      grid-template-columns: repeat(6, auto);

      li{
        text-align: center;
      }
    }
  }
}
