.footerWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 480px;
  overflow: hidden;
  position: relative;

  &:before, &:after{
    content: "";
    width: 50vw;
    height: 50vw;
    position: absolute;
    opacity: .2;
    background-image: radial-gradient(50% 50% at 50% 50%, #1040ff 0, rgba(1, 1, 1, 0) 100%);
  }

  &:before{
    top: 40%;
    left: -10vw;
  }

  &:after{
    top: 30%;
    right: -20vw;
  }

  @media screen and (max-width: 768px){
    min-height: 480px;
    height: auto;

    &:after{
      display: none;
    }

    &:before{
      width: 100vw;
      height: 100vw;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: radial-gradient(60% 60% at 50% 50%, #1040ff 0, rgba(1, 1, 1, 0) 100%);
    }
  }
}

.footerContainer{
  margin: 0 auto;
  width: 1240px;
  z-index: 10;

  @media screen and (max-width: 1240px) {
    width: 90%;
  }

  @media screen and (max-width: 1019px) {
    width: 90%;
  }

}

.footerTop{
  display: flex;
  justify-content: space-between;
  
  &_rightSide{
    font-size: 16px;
    color: #858585;

    svg{
      width: 157px;
      height: auto;
      margin: 0 0 10px;
    }

    p{
      margin: 0 0 0;
    }
  }

  &_languageSelector{
    display: block;
    width: 211px;
    height: 44px;
    border-radius: 8px;
    appearance: none;
    background-color: rgb(255, 255, 255, 0.1);
    border: none;
    color: #FFF;
    box-sizing: border-box;
    padding: 0 16px;
    font-size: 16px;
    color: #A8A8A8;
    margin: 32px 0;
  }

  &_social{
    display: grid;
    grid-template-columns: repeat(6, 24px);
    grid-gap: 24px;
    margin-bottom: 72px;

    svg{
      width: 24px;
      height: 24px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 40px;
    }
  }

  &_leftSide{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 0 40px;
    width: 560px;

    h3{
      text-transform: uppercase;
      color:#fff6;
      margin: 0 0 16px;
    }

    a{
      color:#858585;
      display: block;
      margin-bottom: 16px;
    }

    @media screen and (max-width: 1019px){
      width: 50%;
    }

    @media screen and (max-width: 768px){
      grid-template-columns: inherit;
      grid-gap: 40px 0;
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: 768px){
    display: flex;
    flex-direction: column;
  }
}

.footerBottom{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 51px;
  border-top: 1px solid #858585;
  color: #858585;
  font-size: 14px;
  line-height: 16.8px;

  span{
    font-size: 14px;
    line-height: 16.8px;
    color: #0AFFA7;
  }

  svg{
    margin: 0 6px;
  }
  
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    height: auto;
    padding: 10px 0 30px;
  }
}

.copyright{
  font-size: 16px;

  @media screen and (max-width: 768px) {
    margin: 10px 0 0;
  }
}
