.moduleWrapper{
  display: grid;
  grid-gap: 24px 14px;
  width: 397px;
  grid-gap: 19px 0 44px;
  background: #212121;
  padding: 20px;
  border-radius: 16px;
  box-sizing: border-box;

  @media screen and (max-width: 768px){
    width: 360px;
    margin-top: 20px;
  }
}

.cardTitle{
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  text-align: left;

  @media screen and (max-width: 768px){
    font-size: 20px;
  }
}

.moduleDescription{
  display: block;
  font-size: 14px;
  color: #A8A8A8;
  margin: 0;
  text-align: left;

  @media screen and (max-width: 768px){
    font-size: 16px;
  }
}

.moduleLink{
  display: flex;
  align-items: center;
  color: #75A5FF;

  svg{
    margin-left: 10px;
  }
}
